* {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

/*Styling budget UI showing total income and expenses*/
.budgetarea {
  text-align: center;
  background: url('img/budget.png');
  background-repeat: no-repeat;
  background-clip: border-box !important;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  background-size: 100%;
  padding: 15px;
}

#budgetmonth {
  padding-top: 25px;
}

#budgettotal {
  font-size: 3rem;
  padding: 15px;
}

#incometotal {
  background: rgba(22, 112, 247, 0.6);
  display: grid;
  grid-template-columns: 40% 48% 12%;
  padding: 10px 8px;
  max-width: 300px;
  margin: 15px auto !important;
  border-radius: 3px;
  font-size: 1.2rem;
}

#expensestotal {
  display: grid;
  grid-template-columns: 40% 48% 12%;
  max-width: 300px;
  margin: 15px auto !important;
  background: rgba(255, 17, 17, 0.6);
  padding: 10px 8px;
  border-radius: 3px;
  font-size: 1.2rem;
}

.percent {
  background: rgba(255, 91, 91, 0.6);
  font-size: 0.95rem;
  padding:3px 2px;
}

.valueinput {
  padding: 10px;
  background: rgb(228, 228, 228);
  border: none;
}

.addorsub {
  max-width: 100%;
  margin: 0px auto;
}

.addbtn {
  color: rgba(26, 80, 161, 0.7);
  font-size: 2rem;
  background: transparent;
  vertical-align: middle;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.addbtn:focus {
  outline: none;
}

.addbtn:active {
  transform: translateY(2px);
}
select {
  height: 40px;
  width: 10%;
  border-radius: 3px;
  border: none;
  margin-left: 5px;
}

select:focus {
  outline: none !important;
}

input {
  height: 40px;
  border-radius: 3px;
  border: none;
  margin: 1px;
}

input:focus {
  outline: none !important;
}

.descriptioninput {
  width: 40%;
}

.descriptioninput, .value{
  padding-left:5px;
}


.descriptioninput:focus,
.value:focus {
  border: 1px solid rgba(26, 80, 161, 0.7);
}

.redexp:focus {
  border: 1px solid rgba(163, 20, 20, 0.7) !important;
}

.value {
  width: 34%;
}

input::-webkit-input-placeholder {
  padding-left: 5px;
}

.incomenexpenses {
  padding: 10px;
  margin: 0px auto;
  font-size: 1.1rem;
  transition:all 2s ease-in-out !important;
}

.desc {
  float: left;
  padding: 7px 3px;
  opacity: 0.8;
}

.right {
  padding: 5px;
  float: right;
  width: 40%;
}

.per_cent {
  min-width: 10%;
  padding: 4px;
  float: left;
  font-size: 0.65rem;
  text-align: center;
  border-radius: 3px;
  transition: transform 0.5s;
  vertical-align: middle !important;
  margin: 3px 0px;
  color: rgba(255, 0, 0, 0.8);
  background: rgba(255, 91, 91, 0.6);
}

.amt {
  float: left;
  padding: 3px 3px;
  min-width: 65%;
  transition: transform 0.5s;
  font-size: 1.05rem;
  text-align: center;
}

.incomeh,
.expensesh {
  margin: 10px;
}

.x-icon {
  display: none;
  border: none;
  background: transparent;
  font-size: 19px;
  /* padding: 1px 0px 0px 0px; */
  cursor: pointer;
  transform: scale(0.9);
}

.ion-ios-close-outline:before{
  vertical-align: middle !important;
}

.x-icon:focus {
  outline: none;
}

.list:hover .x-icon {
  display: block;
}

.list:hover .amt {
  transform: translateX(-20px);
}

.list:hover .per_cent {
  transform: translateX(-15px);
}

.delete {
  display: inline-block;
}

.income
 {
  width: 48.5%;
  float: left;
  padding: 5px;
}

.expenses{
  float:right;
  width: 48.5%;
  padding: 5px;
}

h2 {
  padding: 5px;
}

.list {
  padding: 5px 0px;
  border-bottom: 1px solid #e9e9e9;
  width: 90%;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.red {
  color: rgba(255, 0, 0, 0.8) !important;
}

.blue{
  color: rgba(22, 112, 247, 0.9);
}

.list:first-child {
  border-top: 1px solid #e7e7e7;
}

.list:nth-child(even) {
  background-color: #f7f7f7;
}

.piecontainer{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top:50px;
}

/* #myChart{
  width:500px !important;
  height:500px !important;
} */

@media screen and (min-width: 600px) {
  .addorsub {
    max-width: 90%;
    margin: 0px auto;
  }
}

@media screen and (min-width: 1000px) {
  .addorsub {
    max-width: 80%;
    margin: 0px auto;
  }

  .incomenexpenses {
    margin-left: 60px;
  }
}

@media screen and (max-width: 1020px) {
  .income,
  .expenses {
    float: none;
    width: 98%;
    margin: 10px;
  }

  .list {
    width: 93%;
  }

  .per_cent {
    font-size: 0.6rem;
    margin: 3px 0px;
  }
}
@media screen and (max-width: 290px) {
  #expensestotal,
  #incometotal, .percent{
    font-size: 0.85rem;
  }
  #budgettotal {
    font-size: 2rem;
  }

  .percent{
    padding:0px;
  }
}

@media screen and (max-width: 264px) {
  .addbtn{
    transform: scale(0.8);
    margin-right:1px;
    margin-left:0px !important;
  }
}

@media screen and (max-width: 335px) {
  #budgettotal {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 550px) {
  .right {
    min-width: 60%;
  }
  .descriptioninput {
    width: 39%;
  }

  .value {
    width: 29%;
  }

  #pie{
    height:300px !important;
    width:300px !important;
  }
}

@media screen and (max-width: 345px) {
  .valueinput {
    padding: 3px 0px 3px 1px;
  }

  .addbtn{
    margin-left:2px;
  }

  .ion-ios-checkmark-outline,
  .ion-ios-checkmark-outline:before {
    width: 25px !important;
    height: 15px !important;
    transform: scale(0.9);
  }

  .list:hover .amt.red {
    transform: translateX(-10px);
  }

  .amt.red{
    margin-right:3px;
  }
}

@media screen and (max-width: 372px) {
  .list:hover .amt {
    transform: translateX(-10px);
  }
}

@media screen and (max-width:227px){
  #budgettotal{
    padding:15px 10px !important;
    font-size:1.6rem !important;
  }
}